# Ignore everything in this directory
/*
# But keep .gitignore
!.gitignore

# Allow entering directories to find specific files
!IcaRAus_gnn/
!RaGNNarok/

# Inside those directories, ignore everything by default
IcaRAus_gnn/*
RaGNNarok/*

# Unignore the specific results we want to keep
!IcaRAus_gnn/IcaRAus_gnn_IcaRAus_ds.pth
!IcaRAus_gnn/IcaRAus_gnn_IcaRAus_ds.png
!IcaRAus_gnn/IcaRAus_gnn_RaGNNarok_ds.pth
!IcaRAus_gnn/IcaRAus_gnn_RaGNNarok_ds.png

!RaGNNarok/RaGNNarok_final_RaGNNarok_ds.pth
!RaGNNarok/RaGNNarok_final_RaGNNarok_ds.png
!RaGNNarok/RaGNNarok_final_IcaRAus_ds.pth
!RaGNNarok/RaGNNarok_final_IcaRAus_ds.png